*, *::before, *::after {
  box-sizing: border-box;
  font-family: Monospace;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}
.container{
  display: flex;
  justify-content: space-between;
}

.btn{
  color: white;
  background-color: black;
  border-radius: 5px;
}

.slider {
  width: 100%;
  cursor: pointer;
  accent-color: black
}